.header-common {
    height: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 1100px !important;

}

.bottomStyle {
    border-bottom: 4px solid #FFA500;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 260px;
    height: calc(100vh - 70px);
    background-color: #f1f1f1;
    overflow-y: auto;
    z-index: 900;
}

.sibebar-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.profile-letter {
    font-size: 40px;
    font-weight: 400;
}

.barstatus {
    display: block;
}

.offcanvas {
    display: none;
}

.profile-btn {
    background: transparent;
    border-color: none !important;
}

.btn {
    border-color: none;
}

.btn:hover {
    border-color: none;
}

.btn:active,
.btn:target {
    border-color: none;
}

.dropdown-item {
    margin-top: 14px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 100px);
}

.btn-help {
    width: 100%;
    background-color: whitesmoke;
    box-shadow: none;
    border: 1px solid #D3D3D3;
    margin: 10px 10px;
    font-weight: 500;
    font-size: 16px;
}

.nav-item {
    display: flex;
    margin-left: 2rem;
    margin-top: 0.8rem;
    font-size: 16px;
}

.nav-item-active {
    display: flex;
    margin-left: 2rem;
    margin-top: 0.8rem;
    font-size: 16px;
    background-color: #F0E8D8;
    border-radius: 25px;
}

.nav-item2 {
    display: flex;
    margin-left: 3rem;
    margin-top: 0.8rem;
    font-size: 16px;
    font-weight: 300;
}

.nav-item2-active {
    display: flex;
    margin-left: 3rem;
    margin-top: 0.8rem;
    font-size: 16px;
    font-weight: 300;
    background-color: #F0E8D8;
    border-radius: 25px;
}

.nav-item1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.8rem;
    font-size: 18px;
}

.nav-link {
    display: flex;
    justify-content: center;
    padding: 10px 14px 10px 14px;
}

.menu-link {
    margin-left: 10px;
    font-weight: 500;
}


.menu-link2 {
    margin-left: 10px;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
    .navbar {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .barstatus {
        display: none !important;
    }

    .offcanvas {
        display: block;
        width: fit-content !important;
        height: 100%;
        border-radius: 0px 40px 40px 0px;
    }

    .sidebar {
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
        margin-top: 0px;
        background-color: #f1f1f1;
        position: initial;
        height: 100%;
        overflow: auto;
        border-radius: 0px 40px 40px 0px;
    }

    /* .offcanvas-backdrop {
        background-color: transparent !important;
      } */
    .avatar {
        cursor: pointer;
    }

    .dropdownbtn {
        display: none;
    }
}