.sectionFooter {
    background: white;
    width: 100%;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 0px;
}

.footer-logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 40px;
  }
  
  .footer-login-logo {
    width: 160px;
    height: auto;
  }

.footerLeft {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 4rem;
    margin-left: 100px;
}

.btn-section {
    display: flex;
    width: 100%;
}

.footerRight {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-work {
    height: 40px;
    width: 40%;
    background-color: #027BFF;
    margin: 0px 10px;
    font-weight: 500;
    color: white;
}

.btn-sub {
    height: 40px;
    width: 60%;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid black;
    margin: 0px 10px;
    font-weight: 500;
}

.product-list {
    display: flex;
    flex-direction: column;
}

.products {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(3, 1fr);
    font-size: 14px;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.product-li {
    margin-top: 10px;
}
.product-li-active {
    cursor: pointer;
    margin-top: 10px;
}

.terms-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: start;
    align-items: start;
}

.terms {
    max-width: 1200px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2rem;
    align-items: start;
    justify-content: start;
}

.clickable {
    cursor: pointer;
}

.phoneicon, .mailicon {
    width: 21px;
    height: auto;
    margin-right: 20px;
}

@media only screen and (max-width: 768px) {
    .sectionFooter {
        background: white;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .footerLeft {
        margin-top: 5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .footerRight {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .product-list {
        display: flex;
        flex-direction: column;
    }

    .products {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem;
    }

    .terms-list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }

    .terms {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
}